[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FielDHub"]
	path = FielDHub
	url = https://github.com/didiermurillof/fieldhub
